@font-face {
    font-family: neu;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: neu;
    font-weight: 200;
    src: url(./NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: neu;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    /* background-color: #000; */
    position: relative;
    z-index: 10;
}

#page1 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 2vw 0vw;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a {
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a {
    color: #fff;
}

nav h3 {
    display: none;
}

#center {
    height: 65vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
}

#left h3 {
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#center h1 {
    font-size: 10vw;
    text-align: right;
    line-height: 8vw;
}

#page1 video {
    position: relative;
    border-radius: 30px;
    margin-top: 4vw;
    width: 100%;
}

#hero-shape {
    position: absolute;
    width: 40vw;
    height: 36vw;
    right: 0;
    top: 65vh;
}

#hero-1 {
    background-color: #FE320A;
    height: 70%;
    width: 70%;
    margin-top: 30vw;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(10px);
    position: absolute;
}

#hero-2 {
    background: linear-gradient(#FE320A, #fe3f0a);

    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    position: absolute;
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: blur(25px);
}

#hero-3 {
    background: linear-gradient(#FE320A, #fe3f0a);
    height: 25vw;
    position: absolute;
    width: 25vw;
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);
    }
}

#page2 {
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0;
    position: relative;
}

#moving-text {
    overflow-x: auto;
    white-space: nowrap;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text h1 {
    font-size: 9vw;
    /* background-color: lightblue; */
    display: inline-block;
}

#gola {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color: #FE320A;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

#page2-bottom {
    height: 80vh;
    width: 100%;
    /* background-color: aliceblue; */
    padding: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

#page2-bottom h1 {
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}

#bottom-part2 {
    width: 20%;
    /* background-color: aqua; */
}

#bottom-part2 img {
    width: 100%;
    border-radius: 15px;
}

#bottom-part2 p {
    font-weight: 200;
    margin-top: 2vw;
    font-size: 1vw;
}   

#page2 #gooey {
    height: 35vw;
    width: 35vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #ff2d03, #ff5c0b);
    /* background: linear-gradient(to top right,red,blue); */


    top: 54%;
    left: 20%;
    filter: blur(20px);
    animation-name: gooey;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

@keyframes gooey {
    from {
        filter: blur(20px);
        transform: translate(10%, -10%) skew(0);
    }

    to {
        filter: blur(30px);
        transform: translate(-10%, 10%) skew(-12deg);
    }
}




#page3 {
    min-height: 100vh;
    width: 100%;
    background-color:#EFEAE3;
    padding: 4vw 0;
}

.elem {
    height: 150px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #38383864;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}
.elem .mini-text{
    margin-left: 90vw;
    position: absolute;
}

.elem .mini-text h4{
   font-size: 1vw;
}
.elem .mini-text #h4{
    font-size:0.7vw;
  opacity: .4;
 }

.elem h2 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

.elem .overlay {
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.25s;
}

.elem:hover .overlay {
    top: 0;
}



#fixed-image {
    height: 30vw;
    width: 24vw;
    /* background-color: red; */
    border-radius: 15px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
}
#fixed-image video{
    height: 100%;
    width: 100%;
    object-fit: cover;

}
.featured-product{
    height: 1vw;
    width: 100%;
    /* position: absolute; */
    background-color: #EFEAE3;
    border: none;
    display: flex;
    color: black;
    padding: 4vw 5vw;
    gap: 0.5vw;
}
.featured-product img{
    height: 14px;
    width: 14px;
}
.featured-product h3{
    font-size: 1vw;
    font-weight: 500;
}


.page6{
    height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    justify-content: center;
 
    display: flex;    
}

.all-project{
    height: 8vw;
    width: 100%;
    background-color: #EFEAE3;
    padding: 10vw ;
}
.child-project h3::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

.child-project h3:hover::after {
    bottom: 0;
    border-radius: 0;
}

.child-project h3 a {
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

.child-project h3:hover a  {
    color: #fff;
}


/* .child-project #ii{
    color: rgb(203, 203, 203);
} */
/* .child-project:hover{
    background-color: black;
} */
.child-project{
    height: 3vw;
    width: 10vw;
   
    border: 2px solid rgba(0, 0, 0, 0.39);
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    gap: 10px;
    overflow: hidden;
    transition: all ease 0.4s;
    border-radius: 50px;
}
.child-project h3{
    font-size: 1vw;
    font-weight: 500;  
}
.child-project i{
    font-size: 1.5vw;
   
}
.main-content{
    height: 45vw;
    width: 90vw;
    border-radius: 35px;
    background-color: rgb(0, 0, 0);
    display: flex;
    margin-top: 80px;
    position: relative;

}
.main-content .text-area{
    height: 40vw;
    width: 50%;
    /* background-color: rgb(187, 63, 63); */
    align-items: right;
   
}
.main-content .text-area {
    padding: 10vw ;
    color: white;
    
}
.main-content .text-area h1 {
  font-size: 4vw;
  margin-left: 12px;
}
.text-area p{
    font-size: 1vw;
    margin-top: 33px;
    width: 75%;
}
.v1{
    border-left: 6px solid #FE330A;
    height: 260px;
    position: absolute;
    margin-top: 11vw;
    margin-left: 9vw;
    
}
 

.main-content .image-area{
    height: 45vw;
    width: 50%;
    background-color: #000000;
    /* background-color: pink; */
  
    /* overflow: hidden; */
}
.main-content .image-area #img2{
    display: none;
}
.main-content .image-area #img3{
    display: none;
}

.main-content .image-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}
/* .main-content .image-area #img2:hover{
    display: none;
    transition: all ease-out 0.5s;
} */




#page4 {
    height: 98vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 10vw 2vw;
}
#work-with{
    height: 6vw;
    width: 100%;
    /* background-color: blue; */
    gap: 10px;
    display: flex;
}
#work-with img{
    height: 14px;
    width: 14px;
}

#work-with h3{
    font-size: 1vw;
    font-weight: 500;
}
#work-with  .push{
    margin-left: 8vw;
    display: flex;
    gap: 10px;
    height: 5vw;
    width: 16vw;
    position: relative;
    /* background-color: pink; */
}
.push .mouse{
    height: 150px;
    width: 150px;
    background-color:  #FE330A;
    position: absolute;
    border-radius: 50%;
    position: absolute;
  display: none;
    transition: all linear 0.25s;
 
}


.swiper {
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

.swiper-slide {
    width: 30%;
    border-left: 1px solid #aeadad;
    padding:2vw 2vw;
   
}
.swiper-slide img{
    height: 150px;
    width: 300px;
}
.swiper-slide p{
    width: 75%;
    font-size: 1.3vw;
    opacity: .6;
}


#page5 {
    height: 120vh;
    width: 100%;
    /* background-color: #EFEAE3; */
}

#footer {
    position: fixed;
    height: 120vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    z-index: 9;
    bottom: 0;
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;
   
}

#footer h1 {
    font-size: 21vw;
  /* color:  #ff7029; */
  color: #ffffff;
   
}

#footer-div {
    height: 45vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 22px;
    display: flex;
    margin-top: 15vw;
    gap:62vw;
  
}

#footer-div  .f1{
    height: 19vh;
    width: 22vh;
    /* background-color: pink; */
    color: #ffffff;
    font-size: 2vw;
  
}

#footer-div  .f2{
    height: 19vh;
    width: 39vh;
    /* background-color: rgb(209, 6, 40); */
    color: rgb(255, 255, 255);
    font-size: 1vw;
    /* margin-left: 150vh; */
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    font-weight: 800;
  
  
}



#footer-bottom {
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
}
.social-media{
    height: 19vw;
    width: 100%;
    margin-top: 33px;
    /* background-color: salmon; */
   display: flex;
   gap: 21vw;
}

#full-scr {
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.5s;
}

#full-div1 {
    height: 55%;
    width: 100%;
    background-color: #EFEAE3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#full-div1 .text-area{
    display: none;
    margin-top: 10vw;
    /* background-color: red; */
   text-align: right;
    margin-left: 38vw;
}
#full-div1 .text-area #work{
    margin-top: 12vw;
}
#full-div1 .text-area h3{
    font-size: 16vw;
    line-height: 1
}

@media (max-width:600px) {

    #page1 {
        min-height: 100vh;
        width: 100vw;
        padding: 0 0vw;
    }

    nav {
        padding: 8vw 5vw;
        background-color: #EFEAE3;
        /* padding: 0 5vw; */
    }

    nav img {
        transition: all ease 0.2s;
        height: 9vh;
    }

    #nav-part2 {
        display: none;
    }

    nav h3 {
        display: block;
        padding: 3vw 5vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 10vw;
    }
  

    #center {
        height: 62vh;
        width: 100%;
        /* background-color: orange; */
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #0000003c;
        padding: 7vw 5vw;
        padding-bottom: 10vw;
        flex-direction: column-reverse;
        position: relative;
        z-index: 9;
    }

    #left h3 {
        width: 80%;
        font-size: 5.5vw;
        line-height: 6vw;
    }

    #center h1 {
        font-size: 17vw;
        text-align: right;
        line-height: 15vw;
    }

    #page1 video {
        position: relative;
        border-radius: 15px;
        margin-top: 4vw;
        height: 70vh;
        object-fit: cover;
        object-position: center;
        width: 92%;
        margin-left: 4%;
    }

    #page2 {
        min-height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 8vw 0;
        position: relative;
    }

    #moving-text {
        overflow-x: auto;
        white-space: nowrap;
    }

    #moving-text::-webkit-scrollbar {
        display: none;
    }

    .con {
        white-space: nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    #moving-text h1 {
        font-size: 15vw;
        /* background-color: lightblue; */
        display: inline-block;
    }

    #gola {
        height: 25px;
        width: 25px;
        border-radius: 50%;
        display: inline-block;
        background-color: #FE320A;
        margin: 2vw 2vw;
    }

    #page2-bottom {
        height: 90vh;
        width: 100%;
        /* background-color: aliceblue; */
        padding: 10vw 4vw;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        flex-direction: column;
        z-index: 9;
    }

    #page2-bottom h1 {
        font-size: 8.2vw;
        width: 100%;
        line-height: 9vw;
    }

    #bottom-part2 {
        width: 70%;
        /* background-color: aqua; */
    }

    #bottom-part2 img {
        width: 100%;
        border-radius: 10px;
    }

    #bottom-part2 p {
        font-weight: 200;
        margin-top: 2vw;
        font-size: 3vw;
    }

    #page2 #gooey {
        height: 62vw;
        width: 62vw;
        position: absolute;
        border-radius: 50%;
        background: linear-gradient(to top right, #ff2d03, #ff5c0b);
        /* background: linear-gradient(to top right,red,blue); */


        top: 58%;
        left: 25%;
        filter: blur(20px);
        animation-name: gooey;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;

    }


}

/* #loader{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loader h1{
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}
#loader h1:nth-child(2){
    animation-delay: 2s;
}
#loader h1:nth-child(3){
    animation-delay: 3s;
} */

@keyframes load {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.delete-section{
    height: 100vh;
    width: 100%;
    background-color:#EFEAE3;
    padding: 5vw 5vw;
    display: none;

}
.imgsection{
    height: 40vw;
    width: 40vw;
    /* background-color: salmon; */
}
.imgsection .image-area{
    height: 34vw;
    width: 100%;
    /* background-color: red; */
    border-radius: 23px;
}
.image-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 23px;
}
.imgsection .text-area{
    height: 6vw;
    width: 100%;
    padding: 1vw;
    
/* background-color: rgb(54, 144, 235); */
}

.imgsection .text-area h1{
    font-size: 2.4vw;
    font-weight: 600;
  
}
.imgsection .text-area h5{
    font-size: 0.7vw;
    opacity: 0.7;
    font-weight: 600;
    
}
.imgsection .text-area #h5{
    margin-top: 10px;
    
}

.delete-main{
    height: 140vh;
    width: 100%;
    background-color: black;
    padding: 14vw 14vw;
    color: white;
    display: none;
}

.tex0-area{
    height: 34vw;
    width: 34vw;
    /* background-color: rgb(228, 91, 75); */
}
.tex0-area .h1-area{
    height: 14vw;
    width: 100%;
    /* background-color: blue; */
    padding: 3vw 3vw;
    position: relative;
}

.tex0-area .h1-area h1{
   font-size: 2.9vw;
   margin-left: 1vw;
}
.imago-area{
    height: 30vw;
    width: 34vw;
    /* background-color: red; */
}
.imago-area img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.h1-area .v2{
   border-left: 5px solid red;
   height: 7.7vw;
   margin-top: 1vw;
   position: absolute;
  
}
.para-area{
    height: 30vh;
    width: 100%;
    /* background-color: rgb(120, 0, 20); */
    padding: 2vw 2vw;
}
.para-area P{
    font-size: 1.2vw;
    font-weight: 700;
    width: 100%;

}

   




@media (max-width:600px) {
    #loader h1{
        font-size: 9vw;
      
    }
    #full-div1 .text-area{
        display: block;
        margin-top: 9vw;
        /* background-color: red; */
       text-align: right;
        margin-left: 38vw;
    }
    #full-div1 .text-area h3{
        font-size: 16vw;
        line-height: 1
    }

    #hero-shape {
        position: absolute;
        width: 40vw;
        height: 35vw;
      right: 16vh;
        top: 67vh;
    }
    
    #hero-1 {
        background-color: #FE320A;
        height: 70%;
        width: 70%;
        margin-top: 30vw;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        filter: blur(10px);
        position: absolute;
    }
    
    #hero-2 {
        background: linear-gradient(#FE320A, #fe3f0a);
    
        height: 49vw;
       
        width: 49vw;
        border-radius: 50%;
        position: absolute;
        animation-name: anime2;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        filter: blur(25px);
    }
    
    #hero-3 {
        background: linear-gradient(#FE320A, #fe3f0a);
        height: 49vw;
        position: absolute;
        width: 49vw;
        border-radius: 50%;
        filter: blur(25px);
        animation-name: anime1;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    #page2 {
        min-height: 95vh;
        width: 100%;
        background-color: #EFEAE3;
        /* background-color: red; */
        padding: 8vw 0;
        position: relative;
    }
    
    #moving-text {
        overflow-x: auto;
        white-space: nowrap;
    }
    
    #moving-text::-webkit-scrollbar {
        display: none;
    }
    
    .con {
        white-space: nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    
    #moving-text h1 {
        font-size: 9vw;
        /* background-color: lightblue; */
        display: inline-block;
    }
    
    #gola {
        height: 18px;
        width: 18px;
        border-radius: 50%;
        display: inline-block;
        background-color: #FE320A;
        margin: 1vw 2vw;
    }
    
    @keyframes move {
        from {
            transform: translateX(0);
        }
    
        to {
            transform: translateX(-100%);
        }
    }
    
    #page2-bottom {
        height: 60vh;
        width: 100%;
        /* background-color: aliceblue; */
        padding: 10.5vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 9;
    }
    
    #page2-bottom h1 {
        font-size: 8vw;
        width: 120%;
        line-height: 1;
       
    }
    
    #bottom-part2 {
        width: 100%;
        /* background-color: aqua; */
      margin-right: 14%;
      margin-top: 18%;
    }
    
    #bottom-part2 img {
        width: 100%;
        border-radius: 15px;
    }
    
    #bottom-part2 p {
        font-weight: 200;
        margin-top: 2vw;
        font-size: 4vw;
    }   
    
    #page2 #gooey {
        height: 65vw;
        width: 65vw;
        position: absolute;
        border-radius: 50%;
        background: linear-gradient(to top right, #ff2d03, #ff5c0b);
        /* background: linear-gradient(to top right,red,blue); */
    
    
        top: 27%;
        left: 25%;
        filter: blur(20px);
        animation-name: gooey;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    
    }
    @keyframes gooey {
        from {
            filter: blur(20px);
            transform: translate(10%, -10%) skew(0);
        }
    
        to {
            filter: blur(30px);
            transform: translate(-10%, 10%) skew(-12deg);
        }
    }
    
    
    .featured-product{
        height: 5vw;
        width: 100%;
        /* position: absolute; */
        /* background-color: #ff9500; */
        border: none;
        display: flex;
        color: black;
        padding: 4vw 4vw;
        gap: 2vw;
    }
    .featured-product img{
        height: 8px;
        width: 8px;
    }
    .featured-product h3{
        font-size: 2vw;
        font-weight: 500;
    }


    .elem {
        height: 150px;
        width: 100%;
        position: relative;
        border-bottom: 1px solid #38383864;
        overflow: hidden;
        display: flex;
        align-items: center;
        padding: 0 2vw;
        display: none;
    }
    .elem .mini-text{
        margin-left: 90vw;
        position: absolute;
    }
    
    .elem .mini-text h4{
       font-size: 1vw;
    }
    .elem .mini-text #h4{
        font-size:0.7vw;
      opacity: .4;
     }
    
    .elem h2 {
        font-size: 3vw;
        position: relative;
        z-index: 9;
    }
    
    .elem .overlay {
        height: 100%;
        width: 100%;
        background-color: orange;
        position: absolute;
        left: 0;
        top: -100%;
        transition: all ease 0.25s;
    }
    
    .elem:hover .overlay {
        top: 0;
    }
    
    
    
    #fixed-image {
        height: 30vw;
        width: 24vw;
        /* background-color: red; */
        border-radius: 15px;
        position: fixed;
        z-index: 99;
        left: 50%;
        top: 25%;
        display: none;
        background-size: cover;
        background-position: center;
        display: none;
    }
    #fixed-image video{
        height: 100%;
        width: 100%;
        object-fit: cover;
    
    }
   
    
    
   
   
    
    .delete-section{
        height: 60vh;
        width: 100%;
        /* background-color: rgb(177, 145, 251); */
        padding: 5vw 5vw;
        display: block;
    
    }
    .imgsection{
        height: 115vw;
        width:90vw;
        /* background-color: rgb(255, 25, 0); */
    }
    .imgsection .image-area{
        height: 100vw;
        width: 100%;
        /* background-color: red; */
        border-radius: 23px;
    }
    .image-area img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 23px;
    }
    .imgsection .text-area{
        height: 19vw;
        width: 100%;
        padding: 1vw;
        
    /* background-color: rgb(54, 144, 235); */
    }
    
    .imgsection .text-area h1{
        font-size: 4.9vw;
        font-weight: 600;
      
    }
    .imgsection .text-area h5{
        font-size: 3vw;
        opacity: 0.7;
        font-weight: 600;
        
    }
    .imgsection .text-area #h5{
        margin-top: 10px;
        
    }
    .image-area video{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 23px;
    }
    #page3 {
        min-height: 10vh;
        width: 100%;
        background-color: #e39931;
        padding: 3vw 0;
        display: none;
    }
    
    .all-project{
        height: 1vw;
        width: 100%;
        /* background-color: #ff9d13; */
       
    }
    .child-project h3::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: black;
        left: 0;
        bottom: -100%;
        border-radius: 50%;
        transition: all ease 0.4s;
    }
    
    .child-project h3:hover::after {
        bottom: 0;
        border-radius: 0;
    }
    
    .child-project h3 a {
        color: #000000bb;
        text-decoration: none;
        position: relative;
        z-index: 9;
    }
    
    .child-project h3:hover a  {
        color: #fff;
    }

    .child-project h3:hover i  {
       color: #ffffff;
     
    }
    
    
    /* .child-project #ii{
        color: rgb(203, 203, 203);
    } */
    /* .child-project:hover{
        background-color: black;
    } */
    .child-project{
        height: 10vw;
        width: 34vw;
       
        border: 2px solid rgba(0, 0, 0, 0.39);
        /* background-color: red; */
        justify-content: center;
        align-items: center;
        display: flex;
        position: relative;
     
        overflow: hidden;
        transition: all ease 0.4s;
        border-radius: 50px;
      
    }
    .child-project h3{
        font-size: 3.5vw;
        font-weight: 500;  
    }
    .child-project i{
        font-size: 4.6vw;
       
    }
    

    .main-content{
        height: 45vw;
        width: 90vw;
        border-radius: 35px;
        background-color: rgb(0, 0, 0);
       display: none;
        margin-top: 80px;
        position: relative;
    
    }

    ❤
    
    
    .page6{
        height: 100vh;
        width: 100%;
        background-color: hsl(276, 100%, 50%);
        justify-content: center;   
        display: flex;    
    }
    .delete-main{
        height: 89vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 4vw 4vw;
        color: white;
        display: block;
    }
    
    .tex0-area{
        height: 85vh;
        width: 93vw;
        border-radius: 23px;
        background-color: rgb(0, 0, 0);
    }
    .tex0-area .h1-area{
        height: 38vw;
        width: 90%;
        /* background-color: rgb(142, 142, 244); */
        border-radius: 23px;
        padding: 9vw 9vw;
        position: relative;
    }
    
    .tex0-area .h1-area h1{
       font-size: 7.8vw;
       margin-left: 4.5vw;
    }
    .imago-area{
        height: 103vw;
        width: 93vw;
       
        /* background-color: rgb(37, 8, 165); */
        border-radius: 23px;
    }
    .imago-area img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 23px;
    }
    .h1-area .v2{
       border-left: 2px solid #e73b19;
       height: 24vw;
       margin-top: 2vw;
       position: absolute;
      
    }
    .para-area{
        height: 20vh;
        width: 100%;
        /* background-color: rgb(120, 0, 20); */
        padding: 6vw 9vw;
    }
    .para-area P{
        font-size: 3.6vw;
        font-weight: 700;
        width: 100%;
    }
   

    
    #page4 {
        height: 76vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 0vw 0vw;
    }
    #work-with{
        height: 22vw;
        width: 100%;
        /* background-color: blue; */
        gap: 10px;
        display: flex;
    }
    #work-with img{
        height: 15px;
        width: 15px;
    }
    
    #work-with h3{
        font-size: 3.3vw;
        font-weight: 500;
    }
    #work-with  .push{
        margin-left: 8vw;
        display: flex;
        gap: 10px;
        height: 5vw;
        width: 43vw;
        position: relative;
        /* background-color: pink; */
    }
    .push .mouse{
        height: 170px;
        width: 170px;
     
        background-color:  #FE330A;
        position: absolute;
        border-radius: 50%;
        position: absolute;
      display: none;
        transition: all linear 0.25s;
     
    }
    
    
    .swiper {
        width: 100%;
        height: 30%;
        background-color: #EFEAE3
        margin-top: 4vw;
    }
    
    .swiper-slide {
        width: 30%;
        border-left: 1px solid #aeadad;
        padding:2vw 5vw;
       
    }
    .swiper-slide img{
        height: 50px;
        width: 100px;
    }
    .swiper-slide p{
        width: 200%;
        font-size: 2.5vw;
        opacity: .6;
    }




}